/*
* style.css
*/
body {
  position: relative;
}

.overlay {
  position: absolute;
  background-color: rgb(0, 0, 0, 0.5);
  z-index: 20;
  height: 100vh;
  width: 100vw;
}
.overlay > h2 {
  position: absolute;
  font-size: 2rem;
  color: white;
  width: 600px;
  top: 150px;
  left: 75px;
}
.overlay > img {
  width: 70px;
  position: absolute;
  top: 225px;
  left: 570px;
}

.display-hidden {
  display: none;
}

#map {
  height: 100vh;
  width: 100vw;
  position: absolute;
  z-index: -1;
}

#error-weather {
  position: absolute;
  top: 25%;
  left: 10%;
  font-size: 2rem;
  background: rgb(255, 255, 255, 0.9);
  padding: 10px 20px;
  border-radius: 15px;
  border: 3px solid red;
  color: red;
  display: none;
}
#error-weather.show {
  display: block;
}

#full-address {
  font-style: italic;
  background: rgb(255, 255, 255, 0.9);
  width: max-content;
  position: relative;
  top: 90vh;
  left: 5vw;
  padding: 5px;
  border-radius: 5px;
}

.container {
  width: 80%;
  padding-top: 50px;
  margin: auto;
  display: grid;
  grid-template-columns: 3fr 2fr;
  align-items: center;
  gap: 75px;
}
.day {
  background: rgb(255, 255, 255, 0.9);
  height: 110px;
  border-radius: 20px;
  padding: 20px;
  margin: 20px 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.future-date {
  grid-area: 1 / 1 / 2 / 3;
}
.chance-precip {
  grid-area: 3 / 1 / 4 / 3;
}
.future-icon {
  max-width: 60px;
  max-height: 50px;
  grid-area: 1 / 3 / 3 / 4;
  align-self: center;
  margin-left: 25px;
}
.future-high,
.future-low,
.chance-precip {
  display: flex;
  align-items: baseline;
}
h1 {
  font-size: 4rem;
}

h1:focus-visible {
  outline: none;

  caret-color: black;
}

#today {
  background-color: rgb(255, 255, 255, 0.9);
  border-radius: 20px;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

#city {
  grid-area: 1 / 1 / 2 / 5;
}
#temp {
  font-size: 3.5rem;
  grid-area: 2 / 2 / 3 / 4;
  place-self: center;
}
#today-icon {
  height: 100px;
  grid-area: 2 / 1 / 2 / 2;
}
#wind-uv {
  font-size: small;
  font-weight: bold;
  grid-area: 2 / 4 / 3 / 5;
  place-self: center;
}

h4 {
  font-size: x-small;
  margin-right: 5px;
}

/* loader styling */
#loader {
  background: #b1d3dd;
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 100;
  display: none;
}
#loader.show {
  display: block;
}

#loader > h2 {
  color: rgb(33, 163, 202);
  position: absolute;
  font-size: 3rem;
  top: 33%;
  left: calc(50vw - 137px);
}

#spinner {
  position: absolute;
  top: 25%;
  left: calc(50vw - 40px);
  height: 80px;
  width: 80px;
  border: 15px solid;
  border-top-color: rgb(204, 243, 255);
  border-bottom-color: rgb(204, 243, 255);
  border-right-color: rgb(87, 179, 207);
  border-left-color: rgb(87, 179, 207);
  border-radius: 50%;
  animation: spin 1.5s infinite linear;
}

@keyframes spin {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
